.login-guest {
  padding: 2rem 1rem;
}

.term-check-wrap {
  padding: 2rem 0;
}

.btn-guest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.9rem 24px;
  background: #efba00;
  border-radius: 100px;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  margin-top: 14px;
  cursor: pointer;
}

.guest-title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #575757;
  margin-top: 15px;
}
