.Brand_Swrap {
  position: relative;
  top: 184px;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background-color: white;

  height: auto;
  min-height: 100%;
  padding-bottom: 450px;
}

.StartupBox1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../assets/mapbak_new.png) no-repeat left;
  background-size: 95% 80%;
  background-position: 0rem 8rem;
  margin-bottom: 4rem;
}

.StartupBox1 .HeadTitle {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  text-align: center;
  width: 100%;
}

.StartupBox1 .HeadTitle .title {
  font-family: 'NanumSquare', 'Noto Sans KR', sans-serif;
  font-weight: 800;
  color: #000;
  font-size: 1.8rem;
  padding-top: 10px;
}

.StartupBox1 .HeadTitle .title .point {
  color: #af2d2d;
}

.StartupBox1 .FooterTitle {
  position: absolute;
  bottom: -3%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  word-break: keep-all;
}

.StartupBox1 .FooterTitle .title {
  color: #000;
  font-size: 1.43rem;
  margin-bottom: 25px;
  font-weight: bold;
  line-height: 1.4;
}

.StartupBox1 .FooterTitle .title br {
  display: none;
}

.StartupBox1 .FooterTitle .stitle {
  color: #000;
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 25px;
}

.StartupBox1 .FooterTitle .stitle br {
  display: none;
}

.StartupBox1 .FooterTitle .StoreBtn-box {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.StartupBox1 .FooterTitle .StoreBtn-box .StoreB {
  border: 3px solid #ebebeb;
  font-size: 1.2rem;
  color: #361d03;
  padding: 0.8rem 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.StartupBox2 {
  background: url(../assets/brand-bak.png) no-repeat left;
  padding: 5rem 0;
  background-size: cover;
}

.StartupBox2 .title {
  text-align: center;
  font-size: 2.5rem;
  color: #361d03;
  font-family: 'NanumSquare', 'Noto Sans KR', sans-serif;
  font-weight: 800;
  line-height: 48px;
}

.StartupBox2 .title .point {
  color: #af2d2d;
}

.S-TitleBox {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.S-TitleBox .MainT .point {
  color: #af2d2d;
}

.S-TitleBox .SubT {
  color: #361d03;
  font-weight: 400;
  font-size: 1.65rem;
}

.S-TitleBox .SubconT {
  color: #616161;
  font-size: 1.13rem;
  font-weight: 300;
  line-height: 25px;
}

.ImgBox {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 2rem 0;
}

.ImgBox .img-con {
  border: 1px solid #ddd;
  border-radius: 21px;
  overflow: hidden;
  height: 30vh;
}

.ImgBox .img-con:first-child {
  width: 33%;
  background: url(../assets/why-img1.png) no-repeat center;
  background-size: cover;
}

.ImgBox .img-con:last-child {
  width: 50%;
  background: url(../assets/why-img2.png) no-repeat center;
  background-size: cover;
}

.neneBox {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0;
}

.neneBox .infoTtx {
  width: auto;
  gap: 1rem;
  padding: 0 2rem;
}

.neneBox div {
  display: flex;
  flex-direction: column;
}

.neneBox .infoTtx p {
  font-size: 1.4rem;
  color: #361d03;
  font-weight: bold;
  display: flex;
  gap: 15px;
  align-items: center;
}

.neneBox .infoTtx .icon {
  background: url(../assets/check_icon.svg) no-repeat center;
  width: 38px;
  height: 38px;
  background-size: 100% 100%;
  background-position: 0px 3px;
}

.BrandLine {
  border: 5px solid #f0f0f0;
  max-width: 1280px;
  margin: 1rem auto;
}

.StartInner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem 0;
  margin-top: 4rem;
}

.S-TitleBox .MainT {
  font-family: 'NanumSquare', 'Noto Sans KR', sans-serif;
  font-weight: 800;
  color: #361d03;
  font-size: 2.36rem;
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.Sub1Bn,
.Sub2Bn,
.Sub3Bn,
.Sub4Bn img {
  cursor: pointer;
}

.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  justify-content: center;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
  width: 663.333px;
}

.swiper-slide img {
  width: 100%;
}

.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.S-TitleBox .SubconT .point {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 15px;
}

.BrandNENE {
  display: flex;
  padding: 4rem 4rem 0;
}

.BrandNENE .conB {
  width: 50%;
  display: flex;
  gap: 1.5rem;
}

.BrandNENE .conB:first-child .nImgBox {
  width: 40%;
  border-radius: 20px;
  background: url(../assets/nene-bak1.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.BrandNENE .conB:last-child .nImgBox {
  width: 40%;
  border-radius: 20px;
  background: url(../assets/nene-bak2.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.BrandNENE .conB .TxtBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.BrandNENE .conB .TxtBox .Txt {
  position: relative;
  display: flex;
  flex-direction: column;
}

.BrandNENE .conB .TxtBox .pointTxt {
  position: absolute;
  left: -4rem;
  color: #000000;
  font-weight: bold;
  font-size: 1.13rem;
  background: rgb(255 230 92 / 61%);
  padding: 10px 10px 10px 3rem;
  text-align: right;
}

.BrandNENE .conB .TxtBox .Txt .contents {
  padding-top: 3.5rem;
  color: #000000;
  font-weight: 400;
  font-size: 1.13rem;
  line-height: 24px;
}

.headerTitle {
  position: relative;
  z-index: 1;
  border: 2px solid #d9d9d9;
  position: relative;
  margin: 5rem 0 0;
}

.headerTitle .Titleicon {
  position: absolute;
  top: -18px;
  left: 50%;
  width: 15%;
  min-width: 12.5rem;
  background: #af2d2d;
  border-radius: 50px;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  transform: translateX(-50%);
}

.StartupBox5 {
  position: relative;
  z-index: 1;
  background: #fff;
}

.S-TitleBox .SubconT-1 {
  color: #010101;
  font-size: 1.14rem;
  font-weight: 400;
  line-height: 25px;
}

.StartupBox5 .process_ST {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 3.75rem auto;
  max-width: 870px;
}

.StartupBox5 .process_ST .tit_circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 19rem;
  height: 19rem;
}

.StartupBox5 .process_ST > * {
  line-height: 1.5;
  word-break: keep-all;
}

.flexC {
  display: flex;
  justify-content: center;
  align-items: center;
}

.StartupBox5 .process_ST .tit_circle img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.flexSB {
  display: flex;
  justify-content: space-between;
}

.StartupBox5 .process_ST li {
  flex: 1 0 0;
  justify-content: flex-start;
}

.flexCol_C {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.StartupBox5 .process_ST .process_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13.5rem;
  height: 13.5rem;
  border-radius: 50%;
  border: 1px solid #bfbfbf;
}

.StartupBox5 .process_ST .num {
  font-family: 'Poppins';
  font-weight: bold;
  color: #af2d2d;
}

.StartupBox5 .process_ST .tit {
  color: #000;
  font-size: 1.4rem;
  text-align: center;
  margin: 0.75rem 0 0.5rem;
  letter-spacing: -0.1rem;
  line-height: 1.3;
}

.StartupBox5 .process_ST .process_item img {
  width: 45px;
}

.StartupBox5 .process_ST .arrow {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  width: 3.563rem;
  padding-top: 5rem;
}

.StartupBox5 .process_ST .process02,
.StartupBox5 .process_ST .process03 {
  flex-direction: row-reverse;
}

.StartupBox5 .process_ST .arrow_bt {
  width: 3rem;
  padding: 0;
}

.MTREM1 {
  margin-top: 1rem;
}

.StartupBox5 .process_ST .moblie08 {
  display: none;
}

.StartupBox5 #processMo {
  display: none;
}

.StartupBox6 {
  position: relative;
  z-index: 1;
  background: #fff;
}

.StartupBox6 .StartInner .table_cost_warp {
  overflow-x: auto;
  margin-top: 2rem;
}

.StartupBox6 .StartInner .table_cost {
  width: 100%;
  word-break: keep-all;
}

.StartupBox6 .StartInner .table_cost .bg_darkgray th {
  background: #313131;
  color: #fff;
}

.StartupBox6 .StartInner .table_cost thead th {
  height: 3.125rem;
  vertical-align: middle;
  background: #e5e5e5;
  font-size: 1.25rem;
  font-weight: 700;
  color: #010101;
}

.StartupBox6 .StartInner .table_cost thead th:first-child {
  border-radius: 12px 0 0 0;
}

.StartupBox6 .StartInner .table_cost thead th:last-child {
  border-radius: 0 12px 0 0;
  width: 50%;
}

.StartupBox6 .StartInner .table_cost tbody tr td {
  height: 2.625rem;
  vertical-align: middle;
}

.StartupBox6 .StartInner .table_cost td {
  padding: 0 2rem;
  font-size: 1.125rem;
  color: #010101;
  white-space: nowrap;
}

.StartupBox6 .StartInner .table_cost tbody .tc {
  text-align: center !important;
}

.StartupBox6 .StartInner .table_cost td.P_3 {
  padding: 0 3rem;
}

.tr {
  text-align: right !important;
}

.color_red {
  color: #af2d2d !important;
}

.StartupBox6 .StartInner .table_cost td:last-child {
  padding-left: 3rem;
}

.StartupBox6 .StartInner .table_cost tfoot td:last-child,
.StartupBox6 .StartInner .table_cost tfoot th:last-child {
  font-size: 1.125rem;
  border-radius: 0 0 12px 0;
}

.StartupBox6 .StartInner .table_cost tfoot th {
  border-radius: 0 0 0 12px;
}

.StartupBox6 .StartInner .table_cost tfoot th:first-child {
  padding-left: 2.75rem;
}

.StartupBox6 .StartInner .table_cost tfoot td,
.StartupBox6 .StartInner .table_cost tfoot th {
  height: 3.125rem;
  vertical-align: middle;
  background: #e5e5e5;
  font-size: 1.25rem;
  color: #010101;
}

.tl {
  text-align: left !important;
}

.ftw700 {
  font-weight: 700;
}

.StartupBox6 .StartInner .refer {
  margin: 2.5rem 0 1rem;
}

.StartupBox6 .StartInner .refer ul {
  gap: 0.25rem;
}

.StartupBox6 .StartInner .refer li {
  color: #505050;
}

.StartupBox6 .NeneCsinfo {
  padding: 1rem 0 4rem;
  display: flex;
  justify-content: center;
}

.StartupBox6 .NeneCsinfo .Cscon {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 1.3rem 2rem;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  gap: 3rem;
}

.StartupBox6 .NeneCsinfo .Cscon .Title {
  position: relative;
  color: #010101;
  font-size: 1.25rem;
  font-weight: 500;
}

.StartupBox6 .NeneCsinfo .Cscon .Email {
  color: #0e5aa8;
  font-size: 1.125rem;
  font-weight: 400;
}

.StartupBox6 .StartInner .SubInner {
  margin-top: 4rem;
}

.S-TitleBox .SubconT-tit {
  font-size: 32px;
  font-weight: bold;
  color: #000000;
}

.S-TitleBox .SubconT-img {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.S-TitleBox .SubconT-img img.on {
  opacity: 1;
}

.StartupBox6 .StartInner .table_cost {
  width: 100%;
  word-break: keep-all;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.StartupBox6 .StartInner .table_cost tbody td {
  height: 2.625rem;
  vertical-align: middle;
}

.StartupBox6 .StartInner .refer strong {
  font-weight: bold;
}
